
<div class="container" style="width: 70%; float: right; ">
  <h2>Solicitudes</h2>
  
<p-table #dt [columns]="cols" [value]="solicitud" [paginator]="true" [rows]="10" selectionMode="multiple"
                 [(selection)]="selectedSolicitudes">
    <ng-template pTemplate="caption">
        <div style="text-align: center">        
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Busqueda" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
 
        
    </ng-template>
    
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th>Editar</th>
        </tr>
        
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <!-- <td><a [routerLink]="['/editar-vacantes', rowData.id , rowData.nombre, rowData.idSubarea , rowData.idPuesto ,rowData.idTipoPuesto, rowData.idTipo]"><i class="fa fa-edit" style="margin:4px 4px 0 0"></i></a></td> -->
        </tr>
    </ng-template>
</p-table>



</div>