<!-- <router-outlet></router-outlet>

<app-precandidato></app-precandidato> -->
<div class="container">
        <app-encabezado></app-encabezado>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        
</div>

