<div class="mt-5">
<h2> BIENVENIDO </h2>
<P> En la parte superior se encuentra el menú, con todas las opciones a las que usted tiene acceso.</P>
<P> cualquier duda o aclaracion favor de comunicarse con el departamento de TI.</P>
<ul class="list-group">
<li class="list-group-item" *ngFor="let item of equipo, index as i">
 <h6>Nombre: {{item.nombre}}</h6> 
 <h6>Especialidad: {{item.especialidad}}</h6> 
 <a [routerLink]="['/equipo',i]">Leer más...</a>

 
</li>
</ul>
</div>
